name: Docker CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_ACCESS_TOKEN }}

      # 3️⃣ Build & push backend
      - name: Build and push backend image
        run: |
          docker build -f cafeapp/Dockerfile -t ${{ env.DOCKER_HUB_USERNAME }}/my-backend:latest ./cafeapp
          docker push ${{ env.DOCKER_HUB_USERNAME }}/my-backend:latest

      # 4️⃣ Build & push frontend
      - name: Build and push frontend image
        run: |
          docker build -f cafeapp-frontend/Dockerfile -t ${{ env.DOCKER_HUB_USERNAME }}/my-frontend:latest ./cafeapp-frontend
          docker push ${{ env.DOCKER_HUB_USERNAME }}/my-frontend:latest
